h1 {
  margin-top: 70px;
  margin-bottom: 106px;
}

.Form {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 620px;
  margin-bottom: 60px;
  gap: 25px;
  margin-top: 100px;
  margin-left: 20px;
}

label input {
  margin-right: 15px;
  box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
}

input {
  width: 360px;
}
