h1 {
  text-align: center;
}

.Form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 60px;
  justify-items: center;
  width: 903.91px;
}

label input {
  box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
}

label {
  margin-right: 15px;
  width: 450px;
}

input {
  width: 360px;
  cursor: pointer;
}

.proj-grid-form {
  display: grid;
  grid-template-columns: 1fr;
}
.buttons-grid {
  justify-self: start;
}
