Form {
  width: 260px;
  margin: 0 auto;
}

label input {
  margin-right: 15px;
  box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 2px 11px 22px 0px rgba(0, 0, 0, 0.58);
}
