.btn-group-vertical .positive-traits {
  background-color: #282c34;
}
.btn-group-vertical .positive-traits.focus {
  background-color: #282c34;
}

.btn-group-vertical {
  width: 135px;
}
.proj-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 230px;
  width: 600px;
  margin-top: 30px;
  justify-items: center;
  margin-left: 20px;
}

.proj-grid p {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #282c34;
}

.btn-primary:not(:disabled):not(.disabled).active.nice {
  background-color: rgb(109, 255, 72);
}

.btn-primary:not(:disabled):not(.disabled).active.happy {
  background-color: rgb(255, 184, 52);
}

.btn-primary:not(:disabled):not(.disabled).active.brave {
  background-color: rgb(232, 236, 0);
}

p {
  color: #282c34;
}
