.ActionsDone {
  padding-left: 110px;
}
.grid-left-arrow-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  gap: 5px;
  width: 400px;
  column-gap: 10px;
}

.go-back-arrow {
  justify-self: end;
  cursor: pointer;
}

ul {
  list-style-type: none;
  color: #415164;
  font-size: 20px;
}

.grid-accordion-edit-remove {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 10px;
  width: 840px;
}

li::marker {
  content: "▸";
  color: #d2228c;
}

.remove-button {
  margin-left: 10px;
  cursor: pointer;
}

.edit-button {
  margin-left: 10px;
  cursor: pointer;
  justify-self: start;
}

.add-new-activity {
  color: #415164;
  font-size: 35px;
}
