body {
  /* background-color: #6a7f67; */
  background-image: url("./images/noisyBackground.png");
}
.App {
  height: 820px;
  background-color: #fff0f2;
  width: 1400px;
  margin: 0 auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 546.5px 856.5px;
  margin-top: 40px;
}

img {
  height: 820px;
}

.left-side-image {
  width: 550px;
}

.grid-img-art {
  display: grid;
  padding-top: 40px;
}

h3 {
  justify-self: end;
  color: #696f6f;
  font-size: 1.5rem;
}

.button {
  font-size: 35px;
}

.arrow-button {
  display: none;
  cursor: none;
}

.hide-see-list {
  display: none;
}

.see-list-arrow {
  color: #415164;
  justify-self: start;
  padding-left: 10px;
  cursor: pointer;
}

.grid-right-arrow-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 853.91px;
  margin-top: 10px;
}

.left-side-image {
  display: grid;
}
