body {
  background-image: url("./images/BlueApp.png");
  background-repeat: no-repeat;
  background-color: #9ed0c9;
}

h3 {
  color: #415164;
  font-size: 1.5rem;
}

.button {
  font-size: 35px;
}

.arrow-button {
  display: none;
  cursor: none;
}

.hide-see-list {
  display: none;
}

.see-list-arrow {
  color: #415164;
  justify-self: start;
  padding-left: 10px;
  cursor: pointer;
}

.grid-right-arrow-button {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: end;
  margin-top: 40px;
  width: 960px;
}
